* {
	margin: 0;
	color: white;
	font-family: arial narrow;
	scrollbar-width: thin;
	scrollbar-color: #282942 #191a29;
}

::-webkit-scrollbar-track {
  background: #191a29;
}

::-webkit-scrollbar-thumb {
  background: #282942;
  border-radius: 4px;
}

body {
	background-color: black;
	overflow-x: hidden;
	
}

.spaceHolder {
	height: 45px;
	width: 250px;
}

nav {
	height: 9vh;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100vw;
	box-shadow: 0px 0px 50px 70px rgba(0, 0, 0, 0.6);
    background: rgb(0, 0, 0); /*fallback*/
    background: rgba(0, 0, 0, 0.6);
	z-index: 5;
}

nav > p {
	margin: 10px;
	padding: 40px 20px;
	font-size: 12pt;	
	font-family: salmapro;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	text-align: center;
	transition: height 0.3s ease, opacity 0.3s ease, color 0.5s ease, text-shadow 0.5s ease;
}

nav > p:hover {
    color: #4f75ff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

#navlogo {
    height: 130px;
    width: 130px;
    margin: 10px;
    transition: 0.4s ease-in-out; 
	border-radius: 50px;
}

#navlogo:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#hovered.visible {
    transform: translateY(0);
}

#hovered.hidden {
    transform: translateY(100%);
}

#shown > p {
    cursor: pointer;
    display: none;
}

#shown {
	color: white;
	font-size: 70pt;
	font-family: gerhaus;
	position: fixed;
	transition: transform 0.5s ease-out;
	bottom: 0;
	width: 100vw;
	text-align: center;
}

#hovered {
	transform: translateY(100%);
    transition: transform 0.5s ease-out;
	color: white;
	font-size: 25pt;
	font-family: gerhaus;
	position: fixed;
	bottom: 0;
	width: 100vw;
	padding: 20px;
	text-align: center;
}

#pullup {
    position: fixed;
    bottom: -200px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    transition: bottom 0.5 s ease;
    z-index: 3;
}

#pullup.visible {
    bottom: 0;
}

#pullupbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 80px;
    cursor: pointer;
    z-index: 4;
}



#bgg {
    height: 100vh;
    background-color: black;
    background-image: url("../Images/test.jpg");
    background-size: cover;
    background-position: bottom center;
	background-attachment: fixed;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bgg > img {
	margin: 5vh;
	height: 90vh;
	width: 600px;
}

#bgg > h3 {
    position: absolute;
    transition: transform 0.1s ease-out;
    font-size: 8vw;
    color: white;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	z-index: 4;
	cursor: default;
	font-family: juliett;
	letter-spacing: 20px;
	font-weight: bold;
	opacity: 0.6;
	white-space: nowrap;
}

#scrollingText {
	top: 150px;
    left: 5%;
    transform: translateX(-60%);
}

#otherscrolling {
	bottom: 175px;
    right: 5%;
    transform: translateX(60%);
}

#second {
	box-shadow: 0px 0px 150px 200px rgba(0, 0, 0, 1);
	background-color: black;
	color: white;
	height: 100vh;
}

.snaps {
	background-color: none;
	min-width: 100px;
	margin: 10px;
	padding: 20px;
}

.snaps > h1 {
	font-size: 60pt;
}

#toursnap {
	width: 50vw;
	height: 92.5vh;
	/*background: rgba(59, 59, 59, 0.3);
	box-shadow: 0px 0px 100px 150px rgba(59, 59, 59, 0.3);*/
	margin-left: 20px;
}

#stylesnap, #contactsnap {
	width: 50vw;
	height: calc(87vh/2);
	margin: 10px 20px 10px 0px;
	margin-right: 20px;
}

.container {
  position: relative;
}

.hover-image {
  width: 300px;
  height: auto;
  display: block;
}

.cursor-ring {
    position: fixed;
    width: 100px;
    height: 100px;
	background-color: #0062ff;
    border: 2px solid #0062ff;
    border-radius: 50%;
	box-shadow: 0 0 140px 140px #0062ff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s ease;
	z-index: 3;
}

/* custom fonts */
@font-face {
  font-family: gerhaus;
  src: url("Fonts/Gerhaus - GGBotNet/gerhausN.ttf");
}

@font-face {
  font-family: salmapro;
  src: url("Fonts/Salma Pro - Alifinart/salmapro.otf");
}

@font-face {
  font-family: juliett;
  src: url("Fonts/Juliett - GGBotNet/juliettbold.ttf");
}

@media (max-width: 850px) {
	nav > p {
		font-size: 2.3vw;	
	}
	
	#bgg > h3 {
		font-size: 15vw;
		transform: translateY(30%);
	}
	
	.spaceHolder {
		width: 5vw;
	}
}

@media (max-width: 600px) {
	nav > p {
		font-size: 2.5vw;
		padding: 30px 0;
	}
	
	.spaceHolder {
		width: 2vw;
	}
	
	nav {
		margin: 0 5px;
	}
	
}