* {
	margin: 0;
	color: white;
	font-family: arial narrow;
}

body {
	background-color: black;
}


.spaceHolder {
	height: 45px;
	width: 250px;
}

nav {
	height: 9vh;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100vw;
	box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.6);
    background: rgb(0, 0, 0); /*fallback*/
    background: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

nav > p {
	margin: 10px;
	padding: 40px 20px;
	font-size: 12pt;	
	font-family: salmapro;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	text-align: center;
}

nav > h4 {
	margin: 10px 0;
	padding: 40px 0;
	font-size: 12pt;	
	cursor: default;
	font-family: salmapro;
}

#bgg {
	height: 100vh;
	width: 100vw;
	background-color: navy;
	background-image: url("../Images/test.jpg");
	background-size: cover;
	background-position: bottom center;
	position: fixed;
	top: 0;
	z-index: 1;
}

#bgg > img {
	margin: 5vh;
	height: 90vh;
	width: 600px;
}

.container {
  position: relative;
}

.hover-image {
  width: 300px;
  height: auto;
  display: block;
}

.cursor-ring {
    position: fixed;
    width: 100px;
    height: 100px;
	background-color: #ebe0ce;
    border: 2px solid #ebe0ce;
    border-radius: 50%;
	box-shadow: 0 0 200px 250px #ebe0ce;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s ease;
	z-index: 3;
}

/* custom fonts */
@font-face {
  font-family: superrugged;
  src: url("Fonts/Super Rugged - All Super Font/super.ttf");
}

@font-face {
  font-family: gerhaus;
  src: url("Fonts/Gerhaus - GGBotNet/gerhausN.ttf");
}

@font-face {
  font-family: salmapro;
  src: url("Fonts/Salma Pro - Alifinart/salmapro.otf");
}

@media (max-width: 900px) {
	nav > p {
			font-size: 2vw;
			
	}
	
	nav > img {
		width: 4vw;
		height: auto;
	}
	
	.spaceHolder {
		display: none;
	}
}