* {
	margin: 0;
	color: white;
	font-family: arial narrow;
}

body {
	background-color: black;
}


.spaceHolder {
	height: 45px;
	width: 140px;
}

nav {
	height: 9vh;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100vw;
	box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.6);
    background: rgb(0, 0, 0); /*fallback*/
    background: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

nav > p {
	margin: 10px;
	padding: 10px;
	font-size: 15pt;	
}

#bgg {
	height: 100vh;
	width: 100vw;
	background-color: navy;
	background-image: url("../Images/test.jpg");
	background-size: cover;
	background-position: center bottom;
	position: fixed;
	top: 0;
	z-index: 1;
}

#bgg > img {
	margin: 5vh;
	height: 90vh;
	width: 600px;
}

.container {
  position: relative;
}

.hover-image {
  width: 300px;
  height: auto;
  display: block;
}

.cursor-ring {
    position: fixed;
    width: 100px;
    height: 100px;
	background-color: #2a8ff5;
    border: 2px solid #2a8ff5;
    border-radius: 50%;
	box-shadow: 0 0 170px 200px #2a8ff5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s ease;
	z-index: 3;
}
