// Color Variables
$main: #5066b6;
$maindark: #1d2c63;
$mainlight: #7b90db;
$accent: #470c0c;
$accentdark: #541f36;
$accentlight: #e68cb3;
$secondaccent: #cf9313;
$secondaccentdark: #4d3504;
$mainrgba: rgba(80, 102, 1822, 0.5);
$maindarkrgba: rgba(29, 44, 99, 0.3);

// Fonts
$salmapro: "salmapro", sans-serif;
$swanbold: "swanbold", sans-serif;
$areakilo: "areakilo", sans-serif;