@import 'variables';

#bgg {
  height: 100vh;
  background-color: black;
  background-image: url("../Images/HEADINGS/strumming2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bgg > h3 {
  position: absolute;
  transition: transform 0.1s ease-out;
  font-size: 6vw;
  text-shadow: 0px 0px 10px black;
  z-index: 4;
  cursor: default;
  font-family: $areakilo;
  letter-spacing: 20px;
  font-weight: bold;
  white-space: nowrap;
}

#seeDown {
  position: absolute;
  transition: transform 0.1s ease-out;
  bottom: 50px;
  right: 50px;
  height: 100px;
  width: 200px;
}

#decorb {
  position: absolute;
  transform: scaleY(1);
  bottom: -70px;
  right: 0;
  width: 102vw;
  height: auto;
  opacity: 1;
}

#decorb2 {
  position: absolute;
  transform: scaleY(-1.8) scaleX(-1);
  top: 0px;
  right: 0;
  width: 90vw;
  height: auto;
  opacity: 0.7;
}

#scrollingText {
  top: 180px;
  left: 3%;
  transform: translateX(-60%);
}

#otherscrolling {
  top: 300px;
  left: 15%;
  transform: translateX(60%);
}

#second {
  box-shadow: 0px 0px 120px 150px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  padding: 60px 0 80px;
  position: relative;
}

.snaps {
  margin: 30px auto;
  box-sizing: border-box;
  padding: 40px;
}

.shopsnap {
  background-color: rgba(7, 21, 64, 0.5);
  text-align: center;
  width: 100%;
  padding: 15px 40px;
}

#albumsnap h2 {
  font-family: $areakilo;
  font-size: 35pt;
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  background-color: #181818;
  padding: 10px;
}

#albumsnap {
  align-items: center;
  flex: 1;
  background-size: contain;
  background-color: #111;
}

.albumsnapbutton {
  font-family: $areakilo;
  font-size: 15pt;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #181818;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.albumsnapbutton:hover {
	transform: scale(1.03);
}

.albumcontainer {
	background-color: #181818;
	padding: 10px;
}

.albumcontainer > h3 {
	font-family: $salmapro;
	color: $mainlight;
	text-align: center;
	font-size: 18pt;
	margin: 20px 0;
	text-shadow: 0 0 20px black;
}

#flexedsnapscont {
  display: flex;
  flex-direction: column;
  gap: 5;
  width: 80%;
  margin: 0 auto;
  position: relative;
}


.image-wrapper {
  position: relative;
  height: auto;
  width: calc(100% - 10px);
  overflow: hidden;
  border-radius: 6px;
  border: 4px solid #333;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: left;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12pt;
  text-align: left;
  border-radius: 10px;
}

.overlay > div * {
  font-family: $radlushmed;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.7);
    padding: 6px 10px;
    border-radius: 5px;
}

.play-pause {
    background: none;
    border: none;
    color: white;
    font-size: 14pt;
    cursor: pointer;
}

.progress {
    flex: 1;
    width: 100px;
    accent-color: white;
}

.timestamp {
    color: white;
    font-size: 12px;
}


#toursnap {
  gap: 20px;
  flex: 1;
  text-align: center;
  background-color: #111;
  position: relative;
  width: 100%;
}

#toursnap h2 {
  font-family: $areakilo;
  font-size: 35pt;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  background-color: #181818;
}

#toursnap > p {
  font-family: $radlushmed;
  font-size: 13pt;
  width: 90%;
  margin: 15px auto;
}

.toursnap-container {
  position: relative;
  width: 95%;
  background-color: red;
  margin: 15px auto;
}

#toursnaparea {
  display: flex;
  gap: 10px;
  width: calc(100% - 20px);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 1rem 0 1rem 20px;
  white-space: nowrap;
  background-color: black;
  position: relative;
}

#toursnaparea::-webkit-scrollbar-thumb {
  background: #444;
}

#toursnaparea::-webkit-scrollbar-track {
  background: #222;
}

#toursnaparea::-webkit-scrollbar {
  height: 8px;
}

.scroll-arrow {
  background-color: black;
  padding: 0 10px;
  font-family: $radlushmed;
  font-size: 13pt;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: -10px;
}


.scroll-arrow:hover {
	background-color: #444;
}

.event-card {
  background-color: #111;
  border: 3px solid #333;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  min-height: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}


.event-location {
  font-size: 20pt;
  font-weight: bold;
  font-family: $salmapro;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $main;
  
}

.event-date-time, .event-address, .event-lineup, .event-blurb {
  margin: 0.5rem 0;
  font-size: 14pt;
  font-family: $radlushmed;
}

.event-tour-button {
	background-color: $maindark;
	font-family: $areakilo;
	color: white;
	font-size: 16pt;
	border: none;
	padding: 15px;
	margin: 20px 0 10px;
	cursor: pointer;
}

.event-tour-button:hover {
	transform: scale(1.03);
	background-color: $main;
}


/* Responsive media queries */
@media (max-width: 1208px) {
	#bgg {
		background-size: 100%;
		background-position: center;
	}
	
	#bgg > h3 {
		font-size: 70pt;
	}
	
	#seeDown {
		bottom: 200px;
		right: 50px;
		display: none;
	}

	#decorb {
		transform: scaleY(3);
		bottom: 0px;
	}
	
	#decorb2 {
		display: none;
	}
	
	#scrollingText {
		top: 250px;
		left: 3%;
	}

	#otherscrolling {
		top: 370px;
		left: 3%;
	}
	
}

@media (max-width: 770px) {
  #bgg > h3 {
    font-size: 12vw;
    letter-spacing: 7px;
  }
  
  #otherscrolling {
		top: 320px;
		left: 3%;
	}
  #second {
    height: 50vh;
  }
  .snaps > h1 {
    font-size: 36pt;
  }
  #toursnap {
    width: 90vw;
    height: 40vh;
    margin-left: 0;
  }
  #albumsnap, #toursnap {
    width: 90vw;
    height: 40vh;
    margin-right: 0;
  }
}

/*# sourceMappingURL=index.css.map */
