body {
  overflow-x: hidden;
}

#shopping {
  background-color: black;
  text-align: center;
  width: 100vw;
  padding: 0 0 40px;
}

#shopping > h1 {
  width: 100vw;
  padding: 160px 0 130px;
  font-family: pasti;
  font-size: 60pt;
  letter-spacing: 10px;
  background-image: url("../Images/smoke.jpg");
  filter: hue-rotate(-30deg) saturate(40%);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 70px 80px rgb(0, 0, 0);
  text-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.boxes {
  width: 91vw;
  height: 30vh;
  margin: 20px 4vw;
}

.boxes > div {
  background-color: darkblue;
  margin: 0 5px;
  display: flex;
  padding: 15px;
  justify-content: left;
  align-items: last baseline;
  transition: 0.8s ease;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  filter: saturate(20%);
}

.boxes > div > h2 {
  font-size: 20pt;
  color: white;
  font-family: radlushmed;
  letter-spacing: 2px;
  text-shadow: white 0 0 10px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.short {
  width: 45%;
}

.long {
  width: 55%;
}

.short:hover {
  width: 60%;
  filter: saturate(100%);
}

.short:hover ~ .long {
  width: 40%;
}

.long:hover {
  width: 65%;
  filter: saturate(100%);
}

.long:hover ~ .short {
  width: 35%;
}

#shopcenter {
  width: 91vw;
  margin: 40px auto;
  display: flex;
  gap: 20px;
  padding: 20px;
}

#shopcenter > div {
  margin: 10px;
}

.checkbox-item {
  display: flex;
  gap: 0.5em;
}

.checkbox-item label {
  font-family: radlushmed;
  font-size: 1.1em;
}

#categories {
  width: 30%;
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 20px 10px;
  margin: 400px;
  background-color: #0f0f0f;
}

#categories .form-control,
#categories .filter-group {
  margin: 0;
}

#categories > *, #categories > * > * {
  font-family: radlushmed;
  margin: 15px;
}

#categories button {
  width: 50%;
  background-color: #204859;
  border: 3px outset #183947;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 9px;
  transition: 0.3s ease-in-out;
}

#categories button:hover {
  background-color: #4286a8;
}

#categories hr {
  border: 1px solid white;
  margin: 40px 20px;
}

#categories > h4 {
  color: white;
  font-size: 15pt;
  margin: 30px 15px;
}

#categories > h2 {
  letter-spacing: 2px;
  font-size: 20pt;
  margin-bottom: 40px;
}

#selection {
  background-color: f0f0f0;
  padding: 0 15px;
  margin-left: 45%;
  position: relative;
  color: black;
  border: 3px solid black;
  border-radius: 9px;
  font-size: 15pt;
  border: none;
  font-family: juliett;
  width: 350px;
  height: 50px;
  transition: 0.3s ease-in-out;
}

#selection option {
  background-color: white;
  color: black;
  font-family: juliett;
}

#combined {
  width: 85%;
  background-color: #0f0f0f;
  padding: 20px;
}

#mainshop, #pagination {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
  gap: 10px;
  margin-top: 10px;
}

#pagination {
  margin: 0;
}

#counted {
  font-weight: bold;
  font-family: radlushmed;
  font-size: 11pt;
}

#cart {
  height: 30px;
  width: auto;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-in-out;
}

#cart-count {
  position: absolute;
  transform: translate(20px, -10px);
  background-color: #4286a8;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  display: none;
  transition: 0.3s ease-in-out;
}

#cart:hover {
  transform: scale(1.1);
}

#cart:hover ~ #cart-count {
  transform: translate(20px, -10px) scale(1.1);
}

@media (max-width: 600px) {
  .boxes, #shopcenter {
    width: 91vw;
    margin: 40px 3vw;
  }
  #shopcenter {
    background-color: green;
  }
}

/*# sourceMappingURL=shop.css.map */
