#contentdates {
	background-color: black;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

#contentdates > h3 {
	line-height: 30px;
	width: 96vw;
	padding: 10px 2vw;
}

#bgg2 {
	margin: 30px auto;
	width: calc(100vw - 80px);
	display: flex;
	gap: 10px;
	position: relative;
	justify-content: space-between;
}

#bgg2 > div {
	background-color: #111;
	border-radius: 10px;
	padding: 40px 0;
	margin-bottom: 160px;
}

#side {
	width: 50%;
	position: relative;
	padding: 20px;
}

#side img {
	position: sticky;
	top: calc(50% - 270px);
	width: 100%;
	height: auto;
}

#text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.tourdate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 10px;
	text-align: left;
	border-radius: 10px;
	border: 3px solid black;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 0.3s ease-in-out;
	margin: 0 auto;
}

.tourdate:hover {
	transform: scale(1.02);
}

.tourdate > h1 {
	padding: 20px 10px;
	border-radius: 10px;
	background-color: black;
	width: 10%;
	text-align: center;
}

.location {
	flex-grow: 2;
	padding: 5px 30px;
	width: 500px;
	
}

.location > h2 {
	color: #4286a8;
	font-family: radlushmed;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.location > h3:nth-of-type(even) {
	color: #666;
}

.buttons {
    text-align: center;
    display: flex;
    flex-grow: 6;
    justify-content: flex-end;
}

.buttons > button {
	text-decoration: none;
	font-family: radlushmed;
	font-size: 15pt;
	min-width: 5vw;
	height: 75px;
	border: 3px solid black;
	font-weight: bold;
	background-color: #325e75;
	padding: 5px 20px;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.3s ease-in-out;
}

.tourdate > div > button:hover {
	transform: scale(1.03);
	background-color: #27495c;
}

/* TICKET SELECTION STYLING */

#closeout {
	height: 10%;
	background-color: #2f6682;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 15px;
	
}

#closeout button {
	font-family: salmapro;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12pt;
	background-color: #21485c;
	border: none;
	width: 5%;
	height: 80%;
	border-radius: 0;
}

#closeout button:hover {
	background-color: #4286a8; 
}

#ticketingInfo {
	position: fixed;
    top: 15vh;
    left: 20vw;
    z-index: 205;
    width: 60vw;
    height: 70vh;
	display: none;
	box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.4);
}

#pickSeating {
    position: relative;
    display: flex;
    border: 5px solid black;
	height: 90%;
}

.sideSection {
	height: calc(100% - 20px);
	background-color: black;
	padding: 10px;
	text-align: left;
}

#extraInfo {
	width: 25%;
}

#checkOut {
	width: 15%;
}

#extraInfo h2 {
	margin-bottom: 10px;
	color: #4286a8;
	font-family: radlushmed;
	text-transform: uppercase;
}

#extraInfo > p {
	margin-bottom: 10px;
	font-family: radlushmed;
}

.selectedSection {
	font-family: radlushmed;
	margin-bottom: 10px;
}

#sectionDisplay {
	background-color: #333;
	height: 30%;
	width: 95%;
	margin: 10px auto 15px;
}

.tourblurbs {
	color:gray; 
	font-size: 10pt;
	height: 35%;
	overflow-x: auto;
	padding-right: 2px;
}

.quantity-container {
	width: 95%;
	height: 40px;
	margin: 0 auto;
	padding: 10px 0;
}

.quantity-button-dates {
	background-color: #333;
	height: 100%;
	width: 25%;
	border-radius: 0;
}

.quantity-button-dates:hover {
	background-color: #555;
}

.quantity-display-dates {
	width: 50%;
	height: 100%;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: radlushmed;
}

.disclaimer {
	font-family: 6pt;
	color: gray;
	font-family: radlushmed;
}

/* STADIUM BUILDING */
#stadium {
	width: 80%;
	height: 100%;
	background-color: gray;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottomFloor, .topFloor, .vipFloor {
	width: 90%;
	height: 40%;
	padding: 20px;
	display: flex; 
	gap: 20px;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

.vipFloor {
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: areakilo;
}

.topPiece > * {
	border: 3px solid white;
	border-radius: 5px;
}

.stage {
	width: 70%;
	height: 40%;
	color: #4286a8;
	font-family: areakilo;
	background-color: black;
	justify-content: center;
	align-items: center;
	display: flex;
}

.stageSides {
	width: 15%;
	height: calc(100% - 40px);
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px 0;
	flex-wrap: wrap;
}

.stageCenter {
	background-color: #333;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 70%;
	height: calc(100% - 40px);
	padding: 20px 10px;
	gap: 10px;
}

.sectionseating {
	width: 70%;
	height: calc(100% / 5 - 20px);
	background-color: #666;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: areakilo;
	border: 3px solid black;
}

.longseating {
	width: calc(100% / 3 - 20px);
	height: 100%;
	background-color: #444;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: areakilo;
	border: 3px solid black;
}

.vipsection {
	width: 100%;
	height: 100%;
	background-color: #888;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: areakilo;
	border: 3px solid black;
}

.sectionseating:hover, .longseating:hover {
	background-color: #333;
	cursor: pointer;
}

.vipsection:hover {
	background-color: #666;
	cursor: pointer;
}


@media (max-width: 900px) {
	#text > h2 {
		font-size: 5rem;
		padding: 0;
	}
	
	#text {
		margin: 0;
		padding: 5.5vw;
	}
	
	.tourdate > h1 {
		display: none;
	}
	
	.fixmedia {
		display: block;
	}
	
	.location {
		font-size: 10pt;
	}
	
	.tourdate > div > button {
		padding: 5px 20px;
	}
	
	
}

@media (max-width: 600px) {
	#contentdates > h1 {
		font-size: 50pt;
	}
	
	#contentdates > h3 {
		width: 94vw;
	}
	
}