#bgg {
    height: 100vh;
    background-color: black;
    background-image: url("../Images/test.jpg");
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bgg > h3 {
    position: absolute;
    transition: transform 0.1s ease-out;
    font-size: 6vw;
	text-shadow: 0px 0px 10px black;
	z-index: 4;
	cursor: default;
	font-family: radlushmed;
	letter-spacing: 20px;
	font-weight: bold;
	opacity: 0.5;
	white-space: nowrap;
}

#seeDown {
    position: absolute;
	transition: transform 0.1s ease-out;
    bottom: 50px;
    right: 50px;
    opacity: 0.3;
    height: 100px;
    width: 200px;
	animation: moveUpDown 2s infinite ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}

#scrollingText {
	top: 150px;
    left: 3%;
    transform: translateX(-60%);
}

#otherscrolling {
	top: 250px;
    left: 15%;
    transform: translateX(60%);
}

#second {
	box-shadow: 0px 0px 120px 150px rgba(0, 0, 0, 1);
	height: 100vh;
}

.snaps {
	background-color: #101010;
	min-width: 100px;
	margin: 10px;
	padding: 20px;
}

.snaps > h1 {
	font-size: 60pt;
}

#shopsnap {
	width: 50vw;
	height: calc(100vh - 60px);
	/*background: rgba(59, 59, 59, 0.3);
	box-shadow: 0px 0px 100px 150px rgba(59, 59, 59, 0.3);*/
	margin-left: 20px;
}

#shopsnap h2 {
    font-family: pasti;
	font-size: 25pt;
    letter-spacing: 2px;
    margin: 0 0 15px 15px;
}

#stylesnap, #contactsnap {
	width: 50vw;
	margin: 10px 20px 10px 0px;
	margin-right: 20px;
}

#stylesnap {
	display: flex;
	height:calc((100vh - 110px) * 0.40);
	gap: 20px;
	align-items: center;
}

.image-wrapper {
    position: relative;
    height: auto;
    width: calc((100% - 40px) / 3);
    overflow: hidden;
    border-radius: 10px;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
	padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
    color: white;
    display: flex;
    justify-content: left;
    align-items: end;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12pt;
    text-align: left;
    border-radius: 10px;
}

.overlay > div * {
	font-family: "radlushmed", sans-serif;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

#contactsnap {
	height:calc((100vh - 110px) * 0.60);
	display: flex;
	justify-content: center;
	gap: 10px;
}

#contactsnap form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	background-color: #222;
	height: calc(100% - 40px);
	width: 80%;
	gap: 11px;
}

#contactsnap form > * {
	font-family: radlushmed;
	font-size: 15pt;
}

#contactsnap > div img {
	filter: invert(100%);
	height: 50%;
	width: auto;
}

#contactsnap > div h2 {
	font-size: 50pt;
	font-family: pasti;
	letter-spacing: 2px;
	text-align: center;
}

.inp {
    height: 40px;
	color: black;
}

#signupbut {
	width: 70%;
	background-color: gray;
	font-family: juliett;
	font-size: 14pt;
	margin-bottom: 20px;
}

#signupbut:hover {
	background-color: #555;
	transform: scale(1.03);
}

@media (max-width: 768px) {
    #bgg {
		background-image: url("../Images/testNarrower.jpg");
    }

    #bgg > h3 {
        font-size: 12vw; /* Adjust font size for smaller screens */
		letter-spacing: 7px;
    }

    #scrollingText {
        transform: translateX(0%);
    }

    #otherscrolling {
		top: 230px;
        transform: translateX(0%);
    }

    #second {
        height: 50vh; /* Adjust height for smaller screens */
    }

    .snaps > h1 {
        font-size: 36pt; /* Smaller heading on mobile */
    }

    #toursnap {
        width: 90vw; /* Make it more responsive */
        height: 40vh;
        margin-left: 0;
    }

    #stylesnap, #contactsnap {
        width: 90vw; /* Make them more responsive */
        height: 40vh;
        margin-right: 0;
    }
}


