#bgg {
  height: 100vh;
  background-color: black;
  background-image: url("../Images/HEADINGS/strumming2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bgg > h3 {
  position: absolute;
  transition: transform 0.1s ease-out;
  font-size: 6vw;
  z-index: 4;
  cursor: default;
  font-family: "areakilo", sans-serif;
  letter-spacing: 20px;
  font-weight: bold;
  white-space: nowrap;
}

#seeDown {
  position: absolute;
  transition: transform 0.1s ease-out;
  bottom: 50px;
  right: 50px;
  height: 100px;
  width: 200px;
}

#decorb {
  position: absolute;
  transform: scaleY(1);
  bottom: -70px;
  right: 0;
  width: 102vw;
  height: auto;
  opacity: 1;
}

#decorb2 {
  position: absolute;
  transform: scaleY(-1.8) scaleX(-1);
  top: 0px;
  right: 0;
  width: 90vw;
  height: auto;
  opacity: 0.7;
}

#scrollingText {
  top: 180px;
  left: 3%;
  transform: translateX(-60%);
}

#otherscrolling {
  top: 300px;
  left: 15%;
  transform: translateX(60%);
}

#second {
  box-shadow: 0px 0px 120px 150px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  padding: 60px 0 80px;
  position: relative;
}

.snaps {
  margin: 30px auto;
  box-sizing: border-box;
  padding: 40px;
}

.shopsnap {
  background-color: black;
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
  text-align: center;
  width: 100%;
  padding: 15px 40px;
}

#flexedalbums {
  display: flex;
  gap: 15px;
}

#albumsnap h2 {
  font-family: "areakilo", sans-serif;
  font-size: 35pt;
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  background-color: #181818;
  padding: 10px;
}

#albumsnap {
  align-items: center;
  flex: 1;
  background-size: contain;
  background-color: #111;
}

.albumsnapbutton {
  font-family: "areakilo", sans-serif;
  font-size: 15pt;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #181818;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.albumsnapbutton:hover {
  transform: scale(1.03);
}

.albumcontainer {
  background-color: #181818;
  padding: 10px;
}

.albumcontainer > h3 {
  font-family: "salmapro", sans-serif;
  color: #7b90db;
  text-align: center;
  font-size: 18pt;
  margin: 20px 0;
}

#flexedsnapscont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.image-wrapper {
  position: relative;
  height: auto;
  width: calc(100% - 10px);
  overflow: hidden;
  border-radius: 6px;
  border: 4px solid #333;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: left;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12pt;
  text-align: left;
  border-radius: 10px;
}

.overlay > div * {
  font-family: "swanbold", sans-serif;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.audio-player {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px 10px;
  border-radius: 5px;
}

.play-pause {
  background: none;
  border: none;
  color: white;
  font-size: 14pt;
  cursor: pointer;
}

.progress {
  flex: 1;
  width: 100px;
  accent-color: white;
}

.timestamp {
  color: white;
  font-size: 12px;
}

#toursnap {
  gap: 20px;
  flex: 1;
  text-align: center;
  background-color: #111;
  position: relative;
  width: 100%;
}

#toursnap h2 {
  font-family: "areakilo", sans-serif;
  font-size: 35pt;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  background-color: #181818;
}

#toursnap > p {
  font-family: "swanbold", sans-serif;
  font-size: 13pt;
  width: 90%;
  margin: 15px auto;
}

.toursnap-container {
  position: relative;
  width: 95%;
  margin: 15px auto;
}

#toursnaparea {
  display: flex;
  gap: 10px;
  width: calc(100% - 20px);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 1rem 0 1rem 20px;
  white-space: nowrap;
  background-color: black;
  position: relative;
}

#toursnaparea::-webkit-scrollbar-thumb {
  background: #444;
}

#toursnaparea::-webkit-scrollbar-track {
  background: #222;
}

#toursnaparea::-webkit-scrollbar {
  height: 8px;
}

.scroll-arrow {
  background-color: black;
  padding: 0 10px;
  font-family: "swanbold", sans-serif;
  font-size: 13pt;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: -10px;
}

.scroll-arrow:hover {
  background-color: #444;
}

.event-card {
  background-color: rgba(29, 44, 99, 0.3);
  border: 3px solid #1d2c63;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  min-height: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.event-location {
  font-size: 20pt;
  font-weight: bold;
  font-family: "salmapro", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #5066b6;
}

.event-date-time, .event-address, .event-lineup, .event-blurb {
  margin: 0.5rem 0;
  font-size: 14pt;
  font-family: "swanbold", sans-serif;
}

.event-tour-button {
  background-color: #1d2c63;
  font-family: "areakilo", sans-serif;
  color: white;
  font-size: 16pt;
  border: none;
  padding: 15px;
  margin: 20px 0 10px;
  cursor: pointer;
}

.event-tour-button:hover {
  transform: scale(1.03);
  background-color: #5066b6;
}

/* Responsive media queries */
@media (max-width: 1208px) {
  #bgg > h3 {
    font-size: 70pt;
  }
  #seeDown {
    bottom: 200px;
    right: 50px;
    display: none;
  }
  #decorb {
    display: none;
  }
  #decorb2 {
    display: none;
  }
  #scrollingText {
    top: 250px;
    left: 3%;
  }
  #otherscrolling {
    top: 370px;
    left: 3%;
  }
  #albumsnap h2, #toursnap h2 {
    font-size: 37pt;
  }
  #flexedsnapscont {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  .albumsnapbutton {
    font-size: 30pt;
  }
  .albumcontainer > h3 {
    font-size: 28pt;
  }
  #flexedalbums {
    flex-direction: column;
  }
  .play-pause {
    font-size: 25pt;
  }
  .timestamp {
    font-size: 23pt;
  }
  .progress {
    height: 130px;
  }
  #toursnap > p {
    font-size: 22pt;
    margin-bottom: 30px;
  }
  .scroll-arrow {
    font-size: 20pt;
    width: 10%;
  }
  .left-arrow {
    left: -3px;
  }
  .right-arrow {
    right: -13px;
  }
  #toursnaparea {
    padding: 1rem 60px 1rem 80px;
    width: calc(100% - 140px);
  }
  .event-location {
    font-size: 35pt;
  }
  .event-date-time, .event-address, .event-lineup, .event-blurb {
    font-size: 21pt;
  }
  .event-tour-button {
    font-size: 24pt;
  }
}
@media (max-width: 770px) {
  #bgg > h3 {
    font-size: 12vw;
    letter-spacing: 7px;
  }
  #otherscrolling {
    display: none;
  }
  #scrollingText {
    display: none;
  }
  #albumsnap, #toursnap {
    width: 100vw;
    height: 40vh;
    margin: 30px auto;
  }
  #flexedsnapscont {
    margin: 0;
  }
  .play-pause {
    font-size: 20pt;
  }
  .timestamp {
    font-size: 23pt;
  }
  .progress {
    height: auto;
  }
  .albumsnapbutton {
    font-size: 25pt;
  }
  .event-location {
    font-size: 29pt;
  }
  .event-date-time, .event-address, .event-lineup, .event-blurb {
    font-size: 18pt;
  }
  .event-tour-button {
    font-size: 20pt;
  }
  #toursnap > p {
    font-size: 14pt;
  }
}


/*# sourceMappingURL=index.css.map */
