/* MAIN SHOP CONTENT */

.product-card {
    text-align: left;
    width: 250px;
    padding: 15px;
    display: inline-block;
	cursor: pointer;
	border: 3px solid black;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
    transition: transform 0.3s;
	margin: 2px;
}

.product-card:hover {
    transform: scale(1.02);
	border: 3px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
}

.product-card img {
    width: 250px;
    height: 250px;
	border: 2px solid black;
	border-radius: 10px;
    cursor: pointer;
    display: block;
}

.product-name {
    display: block;
    margin: 15px 0 5px;
    color: white;
    font-family: radlushmed;
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
}

.product-name:hover {
    text-decoration: underline;
}

.product-name.limited {
    color: #0a6873;
}

.product-price {
    color: white;
    font-weight: bold;
    margin: 0;
}

.product-price s {
    color: gray;
}

.product-price span {
    color: #65a0ba;
}

#pagination button {
    padding: 10px 20px;
    height: 100%;
    width: auto;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 0;
    margin: 0 1px;
}

#pagination button.active {
    background-color: #365953;
}


/* FEATURED HOME CONTENT */

.home-product-card {
    text-align: left;
    width: calc((100% - 92px) / 2);
    height: calc(78% / 2);
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border: 3px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 5px;
    position: relative;
}

.home-product-card:hover {
    transform: scale(1.02);
	border: 3px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
}

.home-product-name {
    display: block;
    margin: 15px 0 20px;
	text-shadow: 0 0 10px black;
    color: white;
    font-family: radlushmed;
    text-decoration: none;
    font-weight: bold;
    font-size: 25pt;
}

.home-product-name:hover {
    text-decoration: underline;
}

.home-product-name.limited {
    color: #0a6873;
}

.home-product-price {
    color: white;
	text-shadow: 0 0 10px black;
    font-weight: bold;
    margin: 0;
}

.home-product-price s {
    color: gray;
}

.home-product-price span {
    color: #65a0ba;
}

.home-product-card .icon-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
	padding: 20px 0;
    align-items: center;
    gap: 10px;
	border-left: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.home-product-card .icon-bar img {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.home-product-card .icon-bar img:hover {
	transform: scale(1.1);
}


/* CART CONTENT */

.cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	opacity: 0;
    background-color: rgba(53, 72, 87, 0.4);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.cart-popup-content {
    background-color: black;
    max-width: 600px;
    width: 100%;
    height: 99.9%;
    cursor: default;
	border-radius: 10px;
    overflow-y: auto;
	transition: none;
    transform: translateX(100%);
}

.cart-popup h1 {
    font-family: pasti;
    text-align: left;
	letter-spacing: 1.5px;
	padding: 5% 0 0;
    color: white;
	font-size: 40pt;
}

.cart-popup-items-area {
    margin: 20px auto;
	width: 85%;
    height: 60%;
    overflow: auto;
	background-color: #101010;
	padding: 3px;
}

.top-area {
	width: 100%;
	height: 85%;
}

.cart-popup-item-container {
    margin: 10px auto; 
	display: flex;
	justify-content: space-between;
	padding: 5px;
    background: rgba(255, 255, 255, 0.05);
	border: 3px solid #353535;
	border-radius: 10px;
	height: 150px;
	width: 95%;
}

.cart-popup-item-image {
    width: 150px;
    height: 150px;
	border-radius: 10px;
    margin-right: 15px;
}

.cart-popup-item-details {
	width: 70%;
	height: 100%;
	margin: 25px 0;
}

.cart-popup-item-prices {
	height: calc(100%-40px);
	text-align: center;
	padding: 25px 15px;
	width: 140px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-popup-item-prices p {
	color: white;
	border-radius: 10px;
	font-family: radlushmed;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 20px;
}

.cart-popup-item-prices button {
	background-color: transparent;
	display: flex;
	justify-content: center;
	border: none;
	font-size: 16px;
	text-decoration: underline;
	text-underline-offset: 2px; 
	color: gray;
	padding: 0;
	font-family: radlushmed;
	transition: 0.2s ease;
}

.cart-popup-item-prices button:hover {
	color: white;
	transform: scale(1.02);
}

.cart-popup-item-prices button:hover img {
	filter: brightness(200%);
	transform: scale(1.02);
}

.cart-popup-item-name {
    color: white;
	font-family: radlushmed;
	font-size: 17pt;
	margin-bottom: 10px;
}

.cart-popup-item-size,
.cart-popup-item-price {
    color: gray;
	font-family: radlushmed;
	font-size: 14pt;
}

.cart-popup-total, .cart-popup-counts {
    margin: 10px 30px;
	font-style: italic;
	font-family: radlushmed;
}

.cart-popup-total p {
    font-weight: bold;
    color: white;
	font-size: 25pt;
	font-style: italic;
	font-family: radlushmed;
}

.button-area {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 15%;
	background-color: #353536;
}

.cart-popup-clear-btn,
.cart-popup-close-btn,
.cart-popup-check-btn {
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
	border: 1px solid black;
	font-family: juliett;
	font-size: 15pt;
	width: 23%;
	height: 60%;
    cursor: pointer;
	transition: 0.3s ease;
}

.cart-popup-clear-btn {
    background-color: white;
    color: black;
	margin: 0 10px;
}

.cart-popup-clear-btn:hover {
	transform: scale(1.03);
	background-color: #bababa;
}

.cart-popup-close-btn {
    background-color: white;
    color: black;
	margin: 0 10px 0 20px;
}

.cart-popup-close-btn:hover {
	transform: scale(1.03);
	background-color: #bababa;
}

.cart-popup-check-btn {
    background-color: black;
    color: white;
	width: 40%;
	margin: 0 20px 0 10px;
}

.cart-popup-check-btn:hover {
	transform: scale(1.03);
	background-color: #202020;
	color: white;
}

.cart-popup-item-quantity {
	background-color: white;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80px;
	margin: 10px 0 25px;
}

.cart-popup-item-quantity * {
	width: calc(100%/3);
	color: black;
	margin: 0;
	padding: 0;
}

.cart-popup-item-quantity button {
	cursor: pointer;
	height: 30px;
	font-weight: bold;
	border-radius: 10px 0px 0px 10px;
	background-color: #ccc;
}

.cart-popup-item-quantity button:hover {
	background-color: #999999;
}

