#shopping {
	background-color: black;
	text-align: center;
	width: 100vw;
	padding: 0 0 40px;
}

#shopping > h1 {
	width: 100vw;
	padding: 160px 0 130px;
	font-family: juliett;
	font-size: 60pt;
	letter-spacing: 10px;
	background-image: url("../Images/smoke.jpg");
	filter: hue-rotate(-30deg) saturate(40%);
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 0px 70px 80px rgb(0, 0, 0);
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.boxes {
    width: 91vw;
    height: 30vh;
    margin: 20px 4vw;
}

.boxes > div {
    background-color: darkblue;
    margin: 0 5px;
    display: flex;
    padding: 15px;
    justify-content: left;
    align-items: last baseline;
    transition: 0.8s ease;
    flex-grow: 1; 
    flex-shrink: 1;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	filter: saturate(20%);
}

.boxes > div > h2 {
    font-size: 20pt;
    color: white;
	font-family: radlushmed;
	letter-spacing: 2px;
}

.boxes > div > h2 {
    font-size: 20pt;
    color: white;
	text-shadow: white 0 0 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px;
}

.short {
	width: 45%;
}

.long {
	width: 55%;
}

.short:hover {
    width: 60%; 
	filter: saturate(100%);
}

.short:hover ~ .long {
    width: 40%; 
}


.long:hover {
    width: 65%;
	filter: saturate(100%);
}

.long:hover ~ .short {
    width: 35%;
}

#shopcenter {
	width: 91vw;
    margin: 40px 4vw;
	display: flex;
	gap: 20px;
}

#shopcenter > div {
	margin: 10px;
	height: auto;
	
}

#categories {
    width: 30%;
	height: auto;
    background-color: white;
    text-align: left;
    padding: 10px;
    overflow-y: auto;
	display: inline-block;
}

#categories > *, #categories > * > * {
	font-family: radlushmed;
	margin: 10px;
}

#categories hr {
	border: 2px solid black;
	margin: 30px 20px;
}

#categories > h4 {
	color: black;
	font-size: 15pt;
}

#categories li, #categories a {
	color: black;
	font-size: 13pt;
	text-decoration: none;
	transition: 0.3s ease;
}

#categories a:hover{
	color: turquoise;
}

#categories > h2 {
	background-color: black;
	display: inline-block;
	letter-spacing: 2px;
	font-size: 17pt;
	margin-bottom: 30px;
	padding: 6px 20px;
}

#selection {
	background-color: white;
	padding: 0 15px;
	position: relative;
	color: black;
	font-size: 15pt;
	border: none;
	font-family: juliett;
	width: 350px;
	height: 50px;
}

#selection:hover {
    background-color: #f0f0f0;
}


#selection option {
    background-color: white;
    color: black;
	font-family: juliett;
}

#selection option:hover {
    background-color: #e0e0e0;
}

#combined {
	width: 70%;
}

#mainshop {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 40px 20px;
	margin-top: 10px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
	.boxes, #shopcenter {
		width: 91vw;	
		margin: 40px 3vw;
	}
	
	#shopcenter {
		background-color: green;
	}
	
}