#shopping {
	background-color: black;
	text-align: center;
	width: 100vw;
	padding: 0 0 40px;
}

#shopping > h1 {
	width: 100vw;
	padding: 160px 0 130px;
	font-family: pasti;
	font-size: 60pt;
	letter-spacing: 10px;
	background-image: url("../Images/smoke.jpg");
	filter: hue-rotate(-30deg) saturate(40%);
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 0px 70px 80px rgb(0, 0, 0);
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.boxes {
    width: 91vw;
    height: 30vh;
    margin: 20px 4vw;
}

.boxes > div {
    background-color: darkblue;
    margin: 0 5px;
    display: flex;
    padding: 15px;
    justify-content: left;
    align-items: last baseline;
    transition: 0.8s ease;
    flex-grow: 1; 
    flex-shrink: 1;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	filter: saturate(20%);
}

.boxes > div > h2 {
    font-size: 20pt;
    color: white;
	font-family: radlushmed;
	letter-spacing: 2px;
}

.boxes > div > h2 {
    font-size: 20pt;
    color: white;
	text-shadow: white 0 0 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px;
}

.short {
	width: 45%;
}

.long {
	width: 55%;
}

.short:hover {
    width: 60%; 
	filter: saturate(100%);
}

.short:hover ~ .long {
    width: 40%; 
}


.long:hover {
    width: 65%;
	filter: saturate(100%);
}

.long:hover ~ .short {
    width: 35%;
}

#shopcenter {
	width: 91vw;
    margin: 40px 4vw;
	display: flex;
	gap: 20px;
}

#shopcenter > div {
	margin: 10px;
	
}

/* Style for checkboxes and labels to be aligned in one line */
.checkbox-item {
  display: flex;
  gap: 0.5em; 
}

.checkbox-item label {
	font-weight: bold;
	font-family: radlushmed;
	font-size: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#categories {
    width: 30%;
	height: 100vh;
	position: sticky;
	top: 0px;
    background-color: gray;
    text-align: left;
    padding: 110px 10px 10px;
    overflow-y: auto;
}

#categories > *, #categories > * > * {
	font-family: radlushmed;
	margin: 4px;
}

#categories button {
	width: 95%;
	background-color: black;
	margin-top: 20px;
}

#categories button:hover {
	color: #4286a8;
}

#categories hr {
	border: 2px solid black;
	margin: 20px 20px;
}

#categories > h4 {
	color: black;
	font-size: 15pt;
}

#categories > h2 {
	background-color: black;
	display: inline-block;
	letter-spacing: 2px;
	font-size: 17pt;
	margin-bottom: 30px;
	padding: 6px 20px;
}

#selection {
	background-color: white;
	padding: 0 15px;
	position: relative;
	color: black;
	font-size: 15pt;
	border: none;
	font-family: juliett;
	width: 350px;
	height: 50px;
}

#selection:hover {
    background-color: #f0f0f0;
}


#selection option {
    background-color: white;
    color: black;
	font-family: juliett;
}

#combined {
	width: 70%;
}

#mainshop, #pagination {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 40px 20px;
	margin-top: 10px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.1);
}

#pagination {
	margin: 0;
}

@media (max-width: 600px) {
	.boxes, #shopcenter {
		width: 91vw;	
		margin: 40px 3vw;
	}
	
	#shopcenter {
		background-color: green;
	}
	
}