* {
	margin: 0;
	color: white;
	font-family: 'arial narrow';
	scrollbar-width: thin;
	transition: 0.3s ease-in-out;
	scrollbar-color: #282942 #191a29;
}

::-webkit-scrollbar-track {
  background: #191a29;
}

::-webkit-scrollbar-thumb {
  background: #282942;
  border-radius: 4px;
}

body {
	transition: opacity 1s ease;
	opacity: 0;
	background-color: black;
	overflow-x: hidden;
}

.spaceHolder {
	height: 9vh;
	width: 10vw;
}

nav {
    height: 15vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0px 0px 30px 40px rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
	background-color: red;
    z-index: 100;
    transition: 0.5s ease-in-out;
	pointer-events: none;
}

nav a, nav div {
    pointer-events: auto;
}

nav:hover {
	box-shadow: 0px 0px 30px 40px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
}

.inside {
    display: flex;
    align-items: center;
	width: 50vw;
	height: 130px;
	margin: 10px 20px;
    padding: 0 30px;
}

.inside a, .settings-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    height: 130px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12pt;
	text-align: center;
    font-family: salmapro;
    letter-spacing: 2px;
}

.settings-link {
    width: 45px;
    padding: 0;
}

.settings-link img {
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
}

.settings-link:hover {
	transform: scale(1.1);
	cursor: pointer;
}

nav > div a:hover {
    color: #4286a8;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

#navlogo {
    height: 130px;
    width: 130px;
    margin: 10px 15px 10px 10px;
    transition: 0.4s ease-in-out; 
    border-radius: 50px;
}

#navlogo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#pullup {
    position: fixed;
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    z-index: 3;
    pointer-events: none;
}

#pullup > div *  {
    pointer-events: auto;
}

#pullup > div > p {
    font-family: salmapro, sans-serif;
    font-size: 10pt;
	padding-left: 20px;
}

#pullup > hr {
	pointer-events: auto;
    border-top: 4px solid white;
    margin: 20px auto;
	border-radius: 40px;
    width: 15vw;
}

#pullup.visible {
    bottom: 15px;
}

#pullup > a {
	text-decoration: none;
}

.socialss {
	filter: invert(1);
	margin: 0 5px;
}

#slideover {
	display: flex;
}

#settingpanel {
	position: fixed;
    z-index: 200;
    display: none;
	flex-direction: column;
	justify-content: space-between;
    height: 96vh;
    width: 13vw;
    background-color: white;
    color: black;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    padding: 2vh;
    font-family: Arial, sans-serif;
    border-radius: 0 8px 8px 0;
	transition: 0.3s ease-in-out;
	transform: translateX(-110%);
}

#settingpanel h2, #settingpanel label, #settingpanel span {
    color: black;
}

.setting-option {
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

button {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0b7dda;
}

.cursor-ring {
    position: fixed;
    width: 100px;
    height: 100px;
	background-color: #0062ff;
    border: 2px solid #0062ff;
    border-radius: 50%;
	box-shadow: 0 0 140px 140px #0062ff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s ease;
	z-index: 3;
}

/* custom fonts */
@font-face {
  font-family: gerhaus;
  src: url("Fonts/Gerhaus - GGBotNet/gerhausN.ttf");
}

@font-face {
  font-family: salmapro;
  src: url("Fonts/Salma Pro - Alifinart/salmapro.otf");
}

@font-face {
  font-family: juliett;
  src: url("Fonts/Juliett - GGBotNet/juliettbold.ttf");
}

@font-face {
  font-family: radlushmed;
  src: url("Fonts/Radlush - Arterfak/radlushreg.otf");
}

@font-face {
  font-family: pasti;
  src: url("Fonts/Pasti - HolyJollie/pastireg.otf");
}

@media (max-width: 950px) {
	
	.inside a {
		font-size: 1.5vw;	
		margin: 0 10px;
		
	}
	
	nav {
		box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.3);
		background: rgba(0, 0, 0, 0.3);
	}
	
	nav:hover {
		box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.4);
		background: rgba(0, 0, 0, 0.4);
	}
	
	#bgg > h3 {
		font-size: 15vw;
		transform: translateY(30%);
	}
	
	.spaceHolder {
		width: 5vw;
	}
	
	#bgg2 {
		display: block;
	}
	
	#pullup > hr {
		width: 55vw;
	}
	
	.inside { 
		padding: 0;
	}
}

@media (max-width: 600px) {
	
	.inside a, .inside div {
		font-size: 2vw;
		padding: 30px 0;
		margin: 0 5px;
		height: 45px;
	}
	
	.settings-link img {
		max-height: 60%;
		max-width: 60%;
	}
	
	.spaceHolder {
		width: 0;
	}
	
	nav {
		height: 13vh;
		padding: 0 2vw;
		width: 96vw;
	}
	
	#navlogo {
		height: 100px;
		width: auto;
		margin: 10px 15px 0 0;
	}
	
	.inside {
		margin: 0;
	}
	
}